@import url('Raleway.css');

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: #111;
  text-align: center;
	margin-bottom:0px;
}

h1,h2,h3,h5,h5,h6 {
  font-family: "Raleway", -sans-serif;
  color: #f5f7f8;
  padding-left: 0;
  margin-left: 0;
}

hr {
  text-align: center;
  width: 50px;
  margin: 10px auto;
}

.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

::selection {
  background: #9fd1c2;
}

body {
  font-family: "Pt Sans Narrow", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0 auto;
  padding: 0;
  color: #f5f7f8;
  font-size: 19px;
  background: #333300;
  line-height: 1.6;
	margin-bottom: 50px;
	-webkit-transition: background-color 1500ms linear;
  -ms-transition: background-color 1500ms linear;
  transition: background-color 1500ms linear;
}

.bubble-content {
   position:relative;
   float:left;
   margin-left:12px;
	 margin-bottom: 80px;
   width:400px;
   padding:0px 20px;
   border-radius:10px;
   background-color:#ddd;
   color: #333;
   box-shadow:10px 10px 5px rgba(0,0,0,.2);
}

a {
  color: #f2f5f7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  padding: 0 0.5em 0.5em 13.5em;
}

@media only screen and (max-width: 710px) {
  body {
    max-width: 480px
    width: auto !important;
  }

	.myButton {
		padding: 14px 36px !important;
	}

	input[type=range] {
		width: 250px !important;
	}

  .container {
		padding: 0 0.5em 0.5em 6.5em !important;
  }
}

@media only screen and (max-width: 580px) {
	input[type=range] {
		width: 220px !important;
	}

  .container {
		padding: 0 0.5em 0.5em 3.5em !important;
  }
}

@media only screen and (max-width: 510px) {
	input[type=range] {
		width: 200px !important;
	}

	.bubble-content {
		width: 350px !important
	}

  .container {
		padding: 0 0.5em 0.5em 0.5em !important;
  }
}

@media only screen and (max-width: 420px) {
	input[type=range] {
		width: 180px !important;
	}

	.bubble-content {
		width: 300px !important
	}

  .container {
		padding: 0 0.5em 0.5em 0.5em !important;
  }

	.footer {
		padding: 0.4px !important;
		font-size: 17px !important;
	}
}

@media only screen and (max-width: 360px) {
	input[type=range] {
		width: 160px !important;
	}

	.bubble-content {
		width: 250px !important
	}

  .container {
		padding: 0 0.5em 0.5em 0.5em !important;
  }

	.footer {
		padding: 0.3px !important;
		font-size: 16px !important;
	}
}

@media only screen and (max-width: 320px) {
	input[type=range] {
		width: 140px !important;
	}

	.bubble-content {
		width: 235px !important
	}

  .container {
		padding: 0 0.5em 0.5em 0.5em !important;
  }

	.footer {
		padding: 0 !important;
		font-size: 13px !important;
	}
}

input[type=range] {
  -webkit-appearance: none;
  background: #333300;
  margin: 10px 0;
  width: 300px;
	-webkit-transition: background-color 1500ms linear;
	-ms-transition: background-color 1500ms linear;
	transition: background-color 1500ms linear;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #B6B6B6;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #B6B6B6;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #B6B6B6;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #B6B6B6;
}
input[type=range]:focus::-ms-fill-upper {
  background: #B6B6B6;
}
